@tailwind base;
@tailwind components;
@tailwind utilities;

.callout code,
.callout strong {
  color: inherit;
  font-weight: 600;
}

.callout p {
  margin: 0;
}

.callout div > p + p {
  margin-top: 0.25rem;
}

@media screen and (max-width: 480px) {
  article {
    padding-top: 2rem;
    padding-bottom: 4rem;
  }
}
